<html>
<head>
    <meta charset="utf-8">
    <title>Movie Ticket Order page - Welcome and choose a Movie</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Movie Ticket Shop App</h1>
</header>
<main>
    <a type="button" href="/movies/add-form">Add new movie</a>
    <div>
        <h2>Available movies:</h2>
            <ol>
                    <li th:each="movie : ${movies}">
                        <form th:method="GET" action="/ticketOrder">
                            <input id="title"
                                   type="hidden"
                                   name="title"
                                   th:value="(${movie} != null ? ${movie.getTitle()} : '')">
                        <label>Title: </label><th:block th:text="${movie.title}"></th:block><br>
                        <label>Summary: </label><th:block th:text="${movie.summary}"></th:block><br>
                        <label>Rating: </label><th:block th:text="${movie.rating}"></th:block><br>
                        <label>Production: </label><th:block th:text="${movie.production.name}"></th:block><br>
                        <label for="numTickets">Select number of tickets and order</label>
                        <input id="numTickets" type="number" name="numTickets" min="1" max="10"><br/>
                        <button type="submit">Place Order</button>
                        </form><br>
                        <form th:method="POST" th:action="@{'/movies/delete/{title}' (title=${movie.id})}">
                            <button type="submit">Delete</button>
                        </form>
                        <form  th:method="GET" th:action="@{'/movies/edit/{title}' (title=${movie.id})}">
                            <button type="submit">Edit</button>
                        </form>
                     </li>
            </ol>
    </div>

</main>
</body>
</html>